<!-- 05.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/05_app" method="post">
        <label for = "uname">Username</label>
        <input type="text" id="uname" name="uname" required><br>
        <br><label for = "password"> password</label>
        <input type="password" id="password" name="password" required>
        <input type="submit", value="Login">
        
    </form>
</body>
</html>

